body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: 'Anton', sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
          filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -55px);
  left: calc(50% - 199px);
  -webkit-animation-delay: 1959ms;
          animation-delay: 1959ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 1959ms;
          animation-delay: 1959ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -54px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 8899ms;
          animation-delay: 8899ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 8899ms;
          animation-delay: 8899ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -25px);
  left: calc(50% - 31px);
  -webkit-animation-delay: 8522ms;
          animation-delay: 8522ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 8522ms;
          animation-delay: 8522ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -163px);
  left: calc(50% - 185px);
  -webkit-animation-delay: 4545ms;
          animation-delay: 4545ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 4545ms;
          animation-delay: 4545ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -157px);
  left: calc(50% - 172px);
  -webkit-animation-delay: 4709ms;
          animation-delay: 4709ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 4709ms;
          animation-delay: 4709ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -95px);
  left: calc(50% - 1px);
  -webkit-animation-delay: 4881ms;
          animation-delay: 4881ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 4881ms;
          animation-delay: 4881ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 194px);
  left: calc(50% - 158px);
  -webkit-animation-delay: 9697ms;
          animation-delay: 9697ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 9697ms;
          animation-delay: 9697ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 185px);
  left: calc(50% - 219px);
  -webkit-animation-delay: 1878ms;
          animation-delay: 1878ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 1878ms;
          animation-delay: 1878ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 3px);
  left: calc(50% - 156px);
  -webkit-animation-delay: 9722ms;
          animation-delay: 9722ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 9722ms;
          animation-delay: 9722ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 173px);
  left: calc(50% - 43px);
  -webkit-animation-delay: 1506ms;
          animation-delay: 1506ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 1506ms;
          animation-delay: 1506ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -113px);
  left: calc(50% - 216px);
  -webkit-animation-delay: 4657ms;
          animation-delay: 4657ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 4657ms;
          animation-delay: 4657ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -154px);
  left: calc(50% - 85px);
  -webkit-animation-delay: 2491ms;
          animation-delay: 2491ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 2491ms;
          animation-delay: 2491ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 112px);
  left: calc(50% - 240px);
  -webkit-animation-delay: 8196ms;
          animation-delay: 8196ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 8196ms;
          animation-delay: 8196ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 157px);
  left: calc(50% - 200px);
  -webkit-animation-delay: 4222ms;
          animation-delay: 4222ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 4222ms;
          animation-delay: 4222ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -7px);
  left: calc(50% - 279px);
  -webkit-animation-delay: 6319ms;
          animation-delay: 6319ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 6319ms;
          animation-delay: 6319ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 50px);
  left: calc(50% - 279px);
  -webkit-animation-delay: 7222ms;
          animation-delay: 7222ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 7222ms;
          animation-delay: 7222ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -20px);
  left: calc(50% - 140px);
  -webkit-animation-delay: 521ms;
          animation-delay: 521ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 521ms;
          animation-delay: 521ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -1px);
  left: calc(50% - 5px);
  -webkit-animation-delay: 8758ms;
          animation-delay: 8758ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8758ms;
          animation-delay: 8758ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -12px);
  left: calc(50% - 52px);
  -webkit-animation-delay: 7620ms;
          animation-delay: 7620ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 7620ms;
          animation-delay: 7620ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 63px);
  left: calc(50% - 20px);
  -webkit-animation-delay: 2080ms;
          animation-delay: 2080ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 2080ms;
          animation-delay: 2080ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
